// Colors - names
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink:#FF5274;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$light: #F7F8FA;
$gray: #ACB1B4;
$text: #7A8387;
$border: #E6E9EA;
$grayDark: #495061;
$grayDarker: #3D4351;
$black: #3D4351;
$overlay: #262B39;
// Colors - fn-names
$primary: $pink;
$secondary: $grayDark;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $light;
$dark: $grayDarker;
// Colors: System setup
$theme-colors: () !default;
$theme-colors: map-merge(( "primary" : $primary, "secondary" : $secondary, "success" : $success, "info" : $info, "warning" : $warning, "danger" : $danger, "light" : $light, "dark" : $dark), $theme-colors);
// stylelint-enable
