.devices {
  position: relative;
  height: 700px;
}

.ipad-wrap {
  position: absolute;
  left: -25%;
  top: 20%;
  background: url('/public/images/iPad Air.png') no-repeat top right;
  width: 706px;
  height: 500px;
}

.iphone-wrap {
    position: absolute;
    left: 50%;
    top: 34.3%;
    width: 304px;
    height: 400px;
    background: url('/public/images/iPhone 6.png') no-repeat top right;
}

.feature-list {
  ul {
    li {
      list-style: none;
      border-bottom: 0.5px solid rgba($gray, 0.8);
      margin-bottom: 2rem;

      img {
        float: left;
        margin-right: 1rem;
      }
    }
  }
}