.download {
    background: url('/public/images/banner_01.jpg') no-repeat center center;
    background-size: cover; // height: 100vh;
}

.sketch-logo-wrap {
    margin-top: -50px;

    img {
        width: 150px;
        height: auto;
    }
}