<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sedna</title>
    </head>

    <body>
        <header class="hero">
            <!-- Main Nav -->
            <div class="container-fluid bg-hero">
                <div class="container">
                    <nav class="navbar nav-main navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="#">
                            <img src="/public/images/logo.png" alt="Senda">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#features">Features
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#assets">Assets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#download">Download</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <a class="nav-link " href="#">
                                        <button class="btn btn-sm btn-outline-light">Login</button>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="#">
                                        <button class="btn btn-sm btn-outline-light">Download</button>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /.container -->

                <!-- jumbotron -->
                <div class="container jumbotron">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <h1 class="jumbotron-heading ">Design, collaborate, win.</h1>
                            <!-- /.jumbotron-heading -->
                            <p class="lead text-light">
                                Introducing “Sedna”. A responsive one page website, designed & developed by Peter Finlan, exclusively for Codrops.
                            </p>
                            <!-- /.lead text-muted -->
                            <a href="#" class="btn btn-lg btn-primary">Download for free</a>
                            <!-- /.btn btn-lg btn-primary -->
                            <a href="#" class="btn btn-lg btn-outline-primary">Download for free</a>
                            <!-- /.btn btn-lg btn-outline-primary -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.containter -->
            </div>
            <!-- /.container-fluid -->
        </header>

        <!-- Features -->
        <section class="container p-5" id="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0">
                            <img class="float-right icon" src="/public/images/icons/tools.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>EASILY CUSTOMISED</h5>
                            <p>Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0 ">
                            <img class="float-right icon" src="/public/images/icons/lightbulb.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>MODERN DESIGN</h5>
                            <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0">
                            <img class="float-right icon" src="/public/images/icons/atom.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>RESPONSIVE DEVELOPMENT</h5>
                            <p>Built using the latest web technologies like html5, css3, and jQuery rest assured Sedna website will look smashing on every decide under the sun. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.container -->

        <!-- Assets -->
        <section id="assets" class="bg-light">
            <div class="container-fluid row-1">
                <div class="row">
                    <div class="col-md-6 devices">
                        <div class="ipad-wrap"></div>
                        <!-- /.ipad-wrap -->
                        <div class="iphone-wrap"></div>
                        <!-- /.iphone-wrap -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-4 feature-list mt-5 pt-5">
                        <h5>Sedna will drive your product forward</h5>
                        <p>Present your product, start up, or portfolio in a beautifully modern way. Turn your visitors in to clients.</p>
                        <ul class="mt-5">
                            <li>
                                <img src="/public/images/icons/recycle.png" alt="">
                                <h6>UNIVERSAL & RESPONSIVE</h6>
                                <p>Sedna is universal and will look smashing on any device.</p>
                            </li>
                            <li>
                                <img src="/public/images/icons/user.png" alt="">
                                <h6>USER CENTRIC DESIGN</h6>
                                <p>Design UX first, allowing for ease of use and user centric behaviours.</p>
                            </li>
                            <li>
                                <img src="/public/images/icons/bottle.png" alt="">
                                <h6>CLEAN, REUSABLE CODE</h6>
                                <p>Download and re-use the code for any other project you like.</p>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <div class="container row-2">

            </div>
            <!-- /.container row-2 -->
        </section>
        <!-- /#assets -->

        <!-- Blog -->
        <section id="blog">

        </section>
        <!-- /#blog -->

        <!-- Download -->
        <section id="download">

        </section>
        <!-- /#download -->


    </body>

</html>
