<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sedna</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>

    <body>
        <header class="hero">
            <!-- Main Nav -->
            <div class="container-fluid bg-overlay-light">
                <div class="container">
                    <nav class="navbar nav-main navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="#">
                            <img src="/public/images/logo.png" alt="Senda">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#features">Features
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#assets">Assets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#download">Download</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <a class="nav-link " href="#">
                                        <button class="btn btn-sm btn-outline-light">Login</button>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="#">
                                        <button class="btn btn-sm btn-outline-light">Download</button>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /.container -->

                <!-- jumbotron -->
                <div class="container jumbotron">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <h1 class="jumbotron-heading ">Design, collaborate, win.</h1>
                            <!-- /.jumbotron-heading -->
                            <p class="lead text-light">
                                Introducing “Sedna”. A responsive one page website, designed & developed by Peter Finlan, exclusively for Codrops.
                            </p>
                            <!-- /.lead text-muted -->
                            <a href="#" class="btn btn-lg btn-primary">Download for free</a>
                            <!-- /.btn btn-lg btn-primary -->
                            <a href="#" class="btn btn-lg btn-outline-primary">Download for free</a>
                            <!-- /.btn btn-lg btn-outline-primary -->
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.containter -->
            </div>
            <!-- /.container-fluid -->
        </header>

        <!-- Features -->
        <section class="container p-5" id="features">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0">
                            <img class="float-right icon" src="/public/images/icons/tools.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>EASILY CUSTOMISED</h5>
                            <p>Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0 ">
                            <img class="float-right icon" src="/public/images/icons/lightbulb.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>MODERN DESIGN</h5>
                            <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4 m-0 p-0">
                            <img class="float-right icon" src="/public/images/icons/atom.png" alt="">
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h5>RESPONSIVE DEVELOPMENT</h5>
                            <p>Built using the latest web technologies like html5, css3, and jQuery rest assured Sedna website will look smashing on every decide under the sun. </p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.container -->

        <!-- Assets 1 -->
        <section class="bg-light">
            <div class="container-fluid row-1">
                <div class="row">
                    <div class="col-md-6 devices-1">
                        <div class="ipad-wrap"></div>
                        <!-- /.ipad-wrap -->
                        <div class="iphone-wrap"></div>
                        <!-- /.iphone-wrap -->
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-4 feature-list mt-5 pt-5">
                        <h5>Sedna will drive your product forward</h5>
                        <p>Present your product, start up, or portfolio in a beautifully modern way. Turn your visitors in to clients.</p>
                        <ul class="mt-5">
                            <li>
                                <img src="/public/images/icons/recycle.png" alt="">
                                <h6>UNIVERSAL & RESPONSIVE</h6>
                                <p>Sedna is universal and will look smashing on any device.</p>
                            </li>
                            <li>
                                <img src="/public/images/icons/user.png" alt="">
                                <h6>USER CENTRIC DESIGN</h6>
                                <p>Design UX first, allowing for ease of use and user centric behaviours.</p>
                            </li>
                            <li>
                                <img src="/public/images/icons/bottle.png" alt="">
                                <h6>CLEAN, REUSABLE CODE</h6>
                                <p>Download and re-use the code for any other project you like.</p>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#assets -->

        <!-- Assets 2 -->
        <section class="bg-white">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-4 offset-md-2 align-self-center">
                        <h5>Designed using Sketch!</h5>
                        <p>Easily change/switch/swap every placeholder inside every image on Sedna with the included Sketch files. You’ll have this template customised to suit your business in no time!
                        </p>
                        <p>Nam vehicula malesuada lectus,
                            <a href="#">interdum
                                <a/> fringilla nibh. Duis aliquam vitae metus a pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum augue quis augue ornare, eget faucibus felis pharetra. Proin condimentum et leo quis fringilla.
                        </p>
                        <a href="#" class="btn btn-outline-primary">What is Sketch?</a>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-6 devices-2">
                        <div class="macbook-wrap"></div>
                        <!-- /.macbook-wrap -->
                    </div>
                    <!-- /.col-md-6 .devices -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#assets 2-->

        <!-- Download -->
        <section class="download text-center">
            <div class="container-fluid bg-overlay-dark">
                <div class="row pt-5 pb-5">
                    <div class="col-md-12 text-center pt-5 pb-5">
                        <h3 class="text-white">Customise Sedna with the
                            <span class="font-weight-extra-light">Sketch
                                <sup>3</sup>
                            </span> included file</h3>
                        <p class="text-muted">Change/swap/edit every aspect of Sedna before you hit development with the included Sketch file.</p>
                        <a href="#" class="btn btn-outline-primary">Download Now!</a>
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>

        <div class="sketch-logo-wrap text-center">
            <img src="/public/images/Sketch logo.png" alt="">
        </div>
        <!-- /.sketch-logo-wrap -->

        <!-- News -->
        <section id="news" class="my-5">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-10 py-5">
                        <h5>Showcase your smashing product with Sedna</h5>
                    </div>
                    <!-- /.col-md-10 -->
                    <div class="w-100"></div>
                    <!-- /.w-100 -->
                    <div class="col-md-5 text-1">
                        <h6>EXCLUSIVE TO CODROPS</h6>
                        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-md-5 text-2">
                        <h6>SPREADING PIXELS AROUND THE WORLD</h6>
                        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
            <div class="container-fluid blog-post">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="thumb" src="public/images/image_01.jpg" alt="">
                        <h6 class="pt-3">PRODUCT</h6>
                        <a class="more" href="#">Getting started with Sedna</a>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 text-center">
                        <img class="thumb" src="public/images/image_02.jpg" alt="">
                        <h6 class="pt-3">TECHNOLOGY</h6>
                        <a class="more" href="#">Why IE8 support is deminishing</a>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 text-center">
                        <img class="thumb" src="public/images/image_03.jpg" alt="">
                        <h6 class="pt-3">PRODUCT</h6>
                        <a class="more" href="#">Sedna tutorial: How to begin your…</a>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="w-100"></div>
                    <!-- /.w-100 -->
                    <div class="col-md-12 text-center mt-5">
                        <a href="#" class="btn btn-outline-primary">More News</a>
                        <!-- /.btn btn-outline primary -->
                    </div>
                    <!-- /.col-md-12 text-center -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /#news -->

        <!-- Testimonials -->
        <section id="testimonials">
            <div class="container-fluid bg-overlay-light py-5">
                <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="1"></li>
                        <li data-target="#testimonialCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- /.carousel-indicators -->

                    <div class="carousel-inner text-center">
                        <div class="carousel-item active">
                            <img src="/public/images/avatar.png" alt="">
                            <h3 class="text-white py-3">“Sedna is crucial to our workflow”</h3>
                            <!-- /.text-white -->
                            <p class="text-muted font-size-xs font-weight-extra-light">PETER FINLAN, CEO OF AWESOMESAUCE TECHNOLOGIES</p>
                        </div>
                        <!-- /.carousel-item -->
                        <div class="carousel-item">
                            <img src="/public/images/avatar.png" alt="">

                            <h3 class="text-white py-3">Magni harum voluptates qui atque </h3>
                            <!-- /.text-white -->

                            <p class="text-muted font-size-xs font-weight-extra-light">PETER FINLAN, CEO OF AWESOMESAUCE TECHNOLOGIES</p>
                        </div>
                        <!-- /.carousel-item -->
                        <div class="carousel-item">
                            <img src="/public/images/avatar.png" alt="">

                            <h3 class="text-white py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                            <!-- /.text-white -->

                            <p class="text-muted font-size-xs font-weight-extra-light">PETER FINLAN, CEO OF AWESOMESAUCE TECHNOLOGIES</p>
                        </div>
                        <!-- /.carousel-item -->
                    </div>
                    <!-- /.carousel-inner -->
                    <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <!-- /#testimonialCarousel.carousel slide -->
            </div>
            <!-- /.container-fluid bg-overlay-dark -->
        </section>
        <!-- /#testimonials -->

        <!-- Signup Form -->
        <section id="signup" class="py-5">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <h5>Get started with Sedna, absolutely free</h5>
                        <p>Grab your copy today, exclusively from Codrops</p>
                        <form action="#">
                            <div class="input-group mt-5">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-primary">
                                        <i class="far fa-envelope"></i>
                                        <!-- /.far fa-envelope -->
                                    </div>
                                    <!-- /.input-group-text -->
                                </div>
                                <!-- /.input-group-prepend -->
                                <input type="email" class="form-control" placeholder="Please enter your email here..">
                            </div>
                            <!-- /.input-group -->
                            <div class="input-group mt-3">

                                <div class="input-group-prepend">

                                    <div class="input-group-text text-primary">
                                        <i class="fas fa-lock"></i>
                                        <!-- /.far fa-envelope -->

                                    </div>
                                    <!-- /.input-group-text -->

                                </div>
                                <!-- /.input-group-prepend -->
                                <input type="password" class="form-control" placeholder="Please enter your password here..">

                            </div>
                            <!-- /.input-group -->
                            <input type="submit" class="btn btn-primary btn-block rounded mt-4" value="SIGN UP FOR FREE">
                        </form>
                    </div>
                    <!-- /.col-md-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#signup.py-5 -->
    </body>

</html>
